<div>
  <div >
    <h2>Edit Post</h2>
  </div>
  <form id="edit-post">
    <input id="post-id" value="{{post.id}}" type="hidden" />

    <label for="post-title">Title</label>
    <input id="post-title" value="{{post.title}}" type="text"/>

    <label for="post-body">Content</label>
    <textarea id="post-body">{{post.body}}</textarea>

    <button type="submit">Update</button>

    <button id="delete-btn" type="button" >Delete</button>
  </form>
</div>

<script src="/js/edit.js"></script>